<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Batch Running Suite">
  <test thread-count="5" name="Batch Running Test">
    <classes>
      <class name="testNG_Code_Batch_Running.RediffLoginTest"/>
      <class name="testNG_Code_Batch_Running.TN_LoginTest"/>
      <class name="testNG_Code_Batch_Running.TN_Register_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
